<ol class="breadcrumb" *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <!--<breadcrumbs></breadcrumbs>-->
    <li class="breadcrumb-item" ng-reflect-klass="breadcrumb-item" ng-reflect-ng-class="[object Object]">
        <a ng-reflect-router-link="/" href="#/">Home</a>
    </li>
    <li class="breadcrumb-item active" ng-reflect-klass="breadcrumb-item" ng-reflect-ng-class="[object Object]">
        <span tabindex="0" ng-reflect-router-link="//dashboard/">Dashboard</span>
    </li>
    <!-- Breadcrumb Menu-->
    <!--<li class="breadcrumb-menu hidden-md-down">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
            <!--<a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>-->
            <!--<a class="btn btn-secondary" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
            <!--<a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        <!--</div>-->
    <!--</li>-->
</ol>
<hr />
